/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  background: var(--white-color);
  color: var(--dark-color-shade--light) !important;
  font-size: 16px;
}
