/* CSS custom properties overrides (variables) */
:root {
  --primary-color-shade: #c73735;
  --primary-color-shade--light: #ffa3a1;
  --primary-color-shade--lighter: #e9adac;
  --primary-color-shade--lightest: #fee2c4;
  --primary-color-shade--dark: #860200;

  --seconday-color-shade: #531cb3;
  --seconday-color-shade--light: #a88dd8;
  --seconday-color-shade--lighter: #f5ebfc;
  --seconday-color-shade--dark: #290d59;

  --black-color: #000000;
  --white-color: #ffffff;
  --off-white-color: #f7f7f7;

  --dark-color-shade: #000428;
  --dark-color-shade--light: #2c2f3b;

  --success-color-shade: #28a745;
  --success-color-shade--lightest: #f1f9f5;

  --warning-color-shade: #ffd33e;
  --warning-color-shade--dark: #e5bd37;
  --warning-color-shade--lighter: #fdf2c3;
  --warning-color-shade--lightest: #fdf7db;

  --info-color-shade--lightest: #e2f6f9;
  --info-color-shade--dark: #17a2b8;
  --aux-color-shade--lightest: #ecf5fe;

  --danger-color-shade: #bc2729;
  --danger-color-shade--light: #d97170;
  --danger-color-shade--lighter: #fde6e2;
  --danger-color-shade--lightest: #fffbfb;

  --grey-color-shade: #8e9295;
  --grey-color-shade--light: #cccccc;
  --grey-color-shade--lighter: #e2e4e8;
  --grey-color-shade--lightest: #f5f5f5;
}
